html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(17, 16, 16);
}
canvas {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
}
h1 {
  color: #ea80b0;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  /* margin-top: 200px; */
}
img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;top: 20%;left: 50%;transform: translate(-40%, -50%);
}
body {
  padding: 70px;
  overflow: hidden;
}
